!!!5
- title = yield_content(:page_title) || data['site']['title']
%html
  %head
    = partial 'header_meta'
    %title= title
    %script{src: '//use.edgefonts.net/english-small-caps.js'}
    = stylesheet_link_tag 'site.css'
    %link{href: '/opinion-feed.xml', rel: 'alternate', title: data['site']['title'], type: 'application/atom+xml'}
    - if paginate # it's content you can find elsewhere on this site
      %meta(content="noindex" name="robots")
  %body.opinion
    .page-header
      %h1.page-title= link_to 'Gregory M<sup>c</sup>Intyre<br>Opines', '/opinion/index.html'
      %nav.page-nav(role="navigation")
        .nav-links
          - blog('opinion').articles.group_by {|a| a.date.year }.each do |year, articles|
            - url = blog_year_path(year, 'opinion')
            = link_to year, url, class: [(current_page.url == url ? 'current' : nil), 'year-link nav-link'].compact.join(' ')
        = partial 'search'
    .page
      .main(role="main")
        - if is_blog_article?
          = partial 'article', locals: { article: current_article, content: yield }
        - else # index and other pages
          = yield
          - if paginate
            = partial 'pagination', locals: { next_link: next_page, prev_link: prev_page, page_number: page_number, num_pages: num_pages }

    = partial 'page_footer'
    = partial 'ga'
