---
title: Drawings by Gregory McIntyre
pageable: true
per_page: 5
layout: gallery
---

<div class="gallery">
  <h1><%= current_page.data.title || data['site']['title'] %></h1>
  <nav>
    <a href="../" class="back">Back</a>
  </nav>
  <div id="lightgallery">
    <%- images = data['lifedrawing'].sort_by{|i| i.filename }.reverse -%>
    <%- images.each do |image| -%>
      <%- full = "./images/#{image.filename}" -%>
      <%- thumb = "./images/#{image.thumb_filename}" -%>
      <a href="<%= full %>" data-src="<%= full %>"><img loading="lazy" width="<%= image.thumb_width %>" height="<%= image.thumb_height %>" src="<%= thumb %>" alt="Gregory McIntyre <%= image.date_time %>"></a>
    <%- end -%>
  </div>
</div>
