-# NB: This template is used for all pages within the blog: index pages, calendar pages, and article pages
-# It requires: name, title
!!!5
- meta_title = [current_article.try(:smart_title), title].compact.join(' - ')
- header_title = title.dup
- header_title.gsub!(/Mc/, 'M<small>c</small>')
- header_title.gsub!('by', '<small>by</small><br/>')
- header_title.gsub!('of', '<small>of</small><br/>')
- is_blog_index = !is_blog_article?
- blog = blog(name)
%html(lang="en")<>
  %head<>
    %title= meta_title
    <link rel="stylesheet" href="https://use.typekit.net/yga5not.css">
    %link{href: "/#{name}/feed.xml", rel: 'alternate', title: data.site.title, type: 'application/atom+xml'}

    -# Indexing individual year pages just duplicates a lot of info in search results
    - if defined?(page_type) && page_type == 'year'
      %meta(content="noindex" name="robots")

    = partial 'header-meta'
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'highlight'

  %body{class: name}<>
    .page-header<>
      %h1.page-title= link_to header_title, blog.options.prefix + '/index.html'

      - if is_blog_index and blog.options.year_template
        %nav.page-nav(role="navigation")<>
          .nav-links<>
            - blog.articles.group_by {|a| a.date.year }.each do |y, articles|
              - url = blog_year_path(y, name)
              = link_to y, url, class: [(if defined?(year) && year == y then 'current' end), 'year-link nav-link'].compact.join(' ')

          = partial 'search'

    .page<>
      .main(role="main")<>

        - if is_blog_index
          = yield

        - if is_blog_article?
          = partial 'article', locals: { article: current_article } do
            = yield

        - if paginate
          = partial 'pagination', locals: { next_link: next_page, prev_link: prev_page, page_number: page_number, num_pages: num_pages }

    = partial 'page_footer'
    = partial 'ga'
