%footer.page-footer(role="banner")
  .container
    %span.copyright
      &copy;<br>
      #{Time.now.year}<br>
      #{link_to data['site']['author'], '/'}<br>
      #{link_to 'Background', 'http://www.colourlovers.com/pattern/2099173/Kaleidoscope'} by
      #{link_to 'albenaj', 'http://www.colourlovers.com/lover/albenaj/loveNote'}
      &amp;
      #{link_to 'praxicalidocious', 'http://www.colourlovers.com/lover/praxicalidocious/loveNote'}
