!!!5
%html
  %head
    = partial 'header_meta'
    %title= data['site']['title']
    %script{src: '//use.edgefonts.net/english-small-caps.js'}
    = stylesheet_link_tag 'site.css'
    = partial 'favicon'
  %body
    .page-header
      %h1.page-title
        - title = link_to(data['site']['title'], '/')
        = title.gsub(/Mc/, 'M<sup>c</sup>')
    .page
      .main(role="main")
        = yield
    = partial 'page_footer'
    = partial 'ga'
