!!!5
%html(lang="en")
  %head
    = partial 'header-meta'
    = stylesheet_link_tag 'site.css'
    %title= data['site']['title']
    %script{src: '//use.edgefonts.net/english-small-caps.js'}
  %body
    .page-header
      %h1.page-title
        - title = data['site']['title'].gsub(/Mc/, 'M<sup>c</sup>').gsub(' ', '<br/>')
        = link_to(title, '/')
    .page
      .main(role="main")
        = yield
    = partial 'page_footer'
    = partial 'ga'
